
.app-container {
  max-width: 1000px;
  margin: 40px auto;
  font-family: sans-serif;
}


.filter-box {
  display: flex;
  gap: 10px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.filter-box input,
.filter-box select,
.filter-box button {
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 150px;
  box-sizing: border-box;
}


.btn-limpar:hover {
  background-color: #a71d2a; 
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}
th {
  background: #003366;
  color: white;
}


.stats-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.card {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  border-left: 5px solid #003366;
}
.card h3 {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}
.card p {
  margin: 10px 0 0 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #003366;
}


button {
  padding: 8px 15px;
  cursor: pointer;
  background: #003366;
  color: white;
  border: none;
  border-radius: 4px;
}
button:hover {
  background: #004488;
}


.detalhes-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

input.input-alterado {
  border: 2px solid #ffa500; 
  background-color: #fff9f0;
}

.aviso-alteracao {
  color: #d9534f;
  font-size: 0.85rem;
  margin-top: 5px;
  font-weight: bold;
}


.tabela-wrapper {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
}

table thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #003366;
  color: white;
}

.tag-CRI {
  background: #e3f2fd;
  color: #1976d2;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}
.tag-CRA {
  background: #e8f5e9;
  color: #2e7d32;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}
.tag-DEB {
  background: #fff3e0;
  color: #ef6c00;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.tag-NC {
  background: #fff3e0;
  color: #9a0d51;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}
